*{
    margin: 0px;
    padding: 0px;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.select{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background: gray;
    cursor: pointer;
    font-size: 20pt;
}
.select:hover{
    background: black;
    opacity: 0.3;
}


#slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 10px;
    height: auto;
}


#fruta-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    animation: anim 2s;
}


@keyframes anim {
    0%{
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}


#img{
    width: 300px;

}


#img-cont{
    width: 300px;
    border-radius: 10px;
}


#text-cont{
    padding: 10px;
    background: gray;
    color: #fff;
    border-bottom-left-radius: 10px;
    
}


